---
import BaseLayout from './BaseLayout.astro';
const { sidebarTitle = "섹션", sidebarLinks = [] } = Astro.props;
---
<BaseLayout>
  <div class="grid grid-2">
    <aside class="sidebar">
      <div class="card">
        <h3 style="margin-top:0">{sidebarTitle}</h3>
        <nav>
          <ul style="list-style:none; padding-left: 0; margin:0;">
            {sidebarLinks.map((l) => (
              <li style="margin:.2rem 0"><a href={l.href}>{l.label}</a></li>
            ))}
          </ul>
        </nav>
      </div>
    </aside>
    <section>
      <slot />
    </section>
  </div>
</BaseLayout>
